/* PostBox.css */

.post-box {
    margin-left: 20%;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 55%;
    border-radius: 2%;
    margin-top: 2%;
}
.user-photo {
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    margin-right: 10px; 
    overflow: hidden; 
}
.post-input {
    background-color: lightgray;
    width: 100%;
    border: none;
    margin-top: 10px;
    padding: 10px;
    border-radius: 20px; 
    max-height: 100px; 
    overflow-y: auto;
}

.buttons{
    background-color:white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}
.post-button {
    background-color: #0084ff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 20%;
}

.post-button:hover {
    background-color: #0056b3;
    color: #fff;
}

.feeling-button,
.photo-button,
.live-video-button{
    background-color:white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-weight: bold;
}