.bar { 
  padding: 0px;
  height: 60X; /* Set the height as a percentage */
}

.feed-item-icon {
  padding: 8px; 
  font-size: 25px;
  margin-right: 10px;
  margin-left: 10px;
  color: gray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}



.feed-item-button {
  width: 60px;
  height: 58px;
  background-color: white;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  padding: 0; 
  transition: background-color 0.3s ease; 
}

/* Dark mode styles for feed item button */
body[data-theme="dark"] .feed-item-button {
  background-color: var(--bg-color-dark);
  border: none; /* Remove border */
}

.feed-item-button:hover {
  background-color: lightgray;
}

body[data-theme="dark"] .feed-item-button:hover {
  background-color: var(--button-bg-dark);
}

.feed-item-button.clicked {
  color: var(--bs-primary);
}

body[data-theme="dark"] .feed-item-icon.clicked {
  color: var(--bs-primary);
}

.feed-item-icon.clicked {
  color: var(--bs-primary);
  border-bottom: 3px solid var(--bs-primary);

}
