.postBox {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 600px; /* Adjust width as needed */
    margin: 10px auto; /* Center the post */
    width: 600px;
}

body[data-theme="dark"] .postBox {
    background-color: var(--bg-color-soft-dark); /* Dark mode background color */
    color: var(--text-color-dark); /* Dark mode text color */
}

.postBox_top {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.profilePic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.postInput {
    border: none;
    flex: 1;
    padding: 10px;
    font-size: 16px;
    background-color: var(--bg-color-light); /* Light mode input background */
    color: var(--text-color-light);
}

body[data-theme="dark"] .postInput {
    background-color: var(--bg-color-soft-dark); /* Dark mode input background */
    color: var(--text-color-dark); /* Dark mode input text color */
    border-color: var(--input-border-dark); /* Dark mode input border color */
}

.postBox_buttons {
    display: flex;
    justify-content: space-between;
}

.postButton {
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    width:100%;
    background-color: var(--button-bg-light); 
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    font-weight: bold;
}

body[data-theme="dark"] .postButton {
    border: 1px solid var(--bs-primary);
    background-color: var(--bg-color-dark); /* Dark mode button background */
    color: var(--button-text-dark); /* Dark mode button text color */
}

.postButton:hover {
    background-color: var(--bs-primary);
    color: black;
}

/* Dark Mode styles for PostButton hover */
body[data-theme="dark"] .postButton:hover {
    background-color: var(--bs-primary); /* Dark mode hover background */
    color: var(--button-text-dark-hover); /* Dark mode hover text color */
}
.selectedImage{
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
