.friends-list {
  position: fixed;
  top: 60px; /* Adjust as needed */
  right: 0; /* Align to the right side */
  width: 300px; /* Adjust width as needed */
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  overflow-y: auto; /* Allows scrolling within the container */
  max-height: calc(100vh - 60px); /* Adjust height to fit the viewport */
  z-index: 100; /* Ensure it's above other content */
}
/* Your existing styling for circular-container */
.circular-container {
  margin-right: 5px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--button-bg-light);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s, height 0.3s; /* Add transition for a smooth effect */
}
body[data-theme="dark"] .circular-container {
  background-color: var(--button-bg-dark); /* Dark background color */
  color: var(--text-color-dark); /* Dark text color */
}
.option-section-button {
  height: 58px;
  border: none;
  background-color: white;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  transition: background-color 0.3s ease, width 0.3s, height 0.3s; /* Add a smooth transition effect for background-color, width, and height */
}

/* Dark mode styles for option section button */
body[data-theme="dark"] .option-section-button {
  background-color: var(--bg-color-dark); /* Dark background for button */
  color: var(--text-color-dark); /* Dark text color for button */
  border: none; /* Remove border */
}

/* Add hover effect for the button */
.option-section-button:hover {
  background-color: white;
}

/* Adjust the size of the circular-container on hover */
.option-section-button:hover .circular-container {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
}
/* Adjusting the size of the circular-container on hover in dark mode */
body[data-theme="dark"] .option-section-button:hover .circular-container {
  width: 40px; /* Adjust the size as needed */
  height: 40px; /* Adjust the size as needed */
}
.circular-container:has(>.bi-box-arrow-right) {
  /* primary color from bootstrap */
  background-color: rgb(225, 47, 50);
}

body[data-theme="dark"] .circular-container:has(>.bi-box-arrow-right) {
  background-color: rgb(225, 47, 50);
}

#logOutBtn{
  margin-right: 5px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--button-bg-light);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: width 0.3s, height 0.3s;
  border: none;

}