#commentbutton {
    background-color: var(--button-bg-light);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    margin: 5px;
    display: inline-block;
    width: 190px;
}
body[data-theme="dark"] #commentbutton {
    border: 1px solid var(--bs-primary);    
    background-color: var(--bg-color-dark);
    color: var(--button-text-dark);
}
#commentbutton:hover {
    background-color: lightgray;
    color: black;
}
body[data-theme="dark"] #commentbutton:hover {
    background-color: var(--button-bg-dark);
    color: white;
}