.container {
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: white; /* Light mode background color */
    width: 100%;
    max-width: 600px;
}

.modal-content {
    background-color: var(--bg-color-light); /* Light mode background color */

}

body[data-theme="dark"] .modal-content {
    background-color: var(--bg-color-dark); /* Dark mode background color */
}

/* Dark Mode styles for container */
body[data-theme="dark"] .container {
    background-color: var(--bg-color-dark); /* Dark mode background color */
    color: var(--text-color-dark); /* Dark mode text color */
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.post-header-actions {
    display: flex;
    align-items: center;
}

.username {
    font-weight: bold;
}

.timestamp {
    color: var(--text-color-light);
    font-size: 0.8em;
}

/* Dark Mode styles for timestamp */
body[data-theme="dark"] .timestamp {
    color: var(--text-color-dark); /* Dark mode text color */
}

.input {
    background-color: var(--bg-color-light); /* Light mode background */
    color: var(--text-color-light); /* Light mode text color */
    border: none;
    flex: 1;
    padding: 10px;
    font-size: 16px;
}

/* Dark Mode styles for input */
body[data-theme="dark"] .input {
    background-color: var(--bg-color-soft-dark); /* Dark mode background */
    color: var(--text-color-dark); /* Dark mode text color */
}

.post-header-actions {
    background-color: white; /* Dark mode background color */
}

body[data-theme="dark"] .post-header-actions {
    background-color: var(--bg-color-soft-light); /* Light mode background color */
}

.modal-body {
    border-radius: 10px;
    background-color: var(--bg-color-light); /* Dark mode background color */
}

body[data-theme="dark"] .modal-body {
    background-color: var(--bg-color-soft-dark); /* Light mode background color */
}

body[data-theme="dark"] .modal-header {
    background-color: var(--bg-color-soft-dark); /* Light mode background color */
}

body[data-theme="dark"] .btn-close {
    background-color: var(--bg-color-soft-dark); /* Light mode background color */
    color: white;
}

/* Dark Mode styles for edit-textarea */
body[data-theme="dark"] .edit-textarea {
    background-color: var(--bg-color-soft-dark); /* Dark mode background */
    
}

.comments-like {
    background-color: var(--bg-color-soft-light);
    color: var(--text-color-light);
    width: 50px;
    margin-top: 5px;
    cursor: pointer;
    display: flex; /* Changed to flex for inline alignment */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    padding: 5px; /* Adjust padding */
    transition: color 0.3s; /* Smooth transition for color change */
    border: transparent;
}

.comments-like i, .comments-like span {
    margin-right: 5px; /* Space between icon and text */
}

.comments-like.active, .comments-like.active i {
    font-weight: bold; /* Make text bold when active */
    color: var(--bs-primary); /* Change color to blue when active */
}

body[data-theme="dark"] .comments-like {
    border: transparent;
    background-color: var(--bg-color-dark);
}

.comments-like:hover {
    background-color: var(--bg-color-light);
}

body[data-theme="dark"] .comments-like:hover {
    background-color: var(--bg-color-soft-dark);
}


