/* Main post container */
.post {
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 600px; 
    width: 600px; 
    margin: 20px auto; 
}
.post-header-info:hover{
    cursor: pointer;
    border-radius: 3%;
}
.post-image {
    max-width: 100%; 
    height: auto; 
    margin-top: 10px;
    border-radius: 8px; 
    display: block; 
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
.edit-textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
  } 
  
.buttons {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    margin-top: 10px;
}

.like-button {
    background-color: #f0f2f5;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: gray;
    margin: 5px;
    display: inline-block; /* Display the buttons inline */
}

.like-button:hover {
    background-color: var(--bs-primary);
    color: black;
}


.Edit:hover{
    cursor: pointer;
    background-color: #e7e9ec;
}
.x-button {
    margin-top: 10px;
}
.x-button, .Edit {
    background-color: transparent; 
    border: none; 
    color: #65676b;
    padding: 3px;
    font-size: 1.2em; 
    border-radius: 10%; 
}

.x-button:hover {
    background-color: #f0f2f5; /* Slight highlight on hover */
    cursor: pointer;
}

