/* Main post container */
.post {
    background-color: white;
    margin-bottom: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    max-width: 600px; 
    width: 600px; 
    margin: 20px auto; 
}

body[data-theme="dark"] .post {
    background-color: var(--bg-color-soft-dark); /* Dark mode background color */
    color: var(--text-color-dark); /* Dark mode text color */
}
.post-header-info:hover{
    cursor: pointer;
    border-radius: 3%;
}
.post-image {
    max-width: 100%; 
    height: auto; 
    margin-top: 10px;
    border-radius: 8px; 
    display: block; 
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}
#save:hover{
    cursor: pointer;
    background-color: #f0f2f5;
    color: black;
}
.edit-textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: var(--bg-color-light); /* Light mode background */
    color: var(--text-color-light); /* Light mode text color */
  } 

  /* Dark Mode styles for edit-textarea */
body[data-theme="dark"] .edit-textarea {
    background-color: var(--bg-color-dark); /* Dark mode background */
    color: var(--text-color-dark); /* Dark mode text color */
    border-color: var(--input-border-dark); /* Dark mode border color */
}
  
.buttons {
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    margin-top: 10px;
}

.like-button {
    background-color: var(--button-bg-light);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: black;
    margin: 5px;
    display: inline-block; /* Display the buttons inline */
}

/* Dark Mode styles for like-button */
body[data-theme="dark"] .like-button {
    border: 1px solid var(--bs-primary);    
    background-color: var(--bg-color-dark); /* Dark mode background */
    color: var(--button-text-dark); /* Dark mode text color */
}

.like-button:hover {
    background-color: lightgrey;
    color: black;
}

body[data-theme="dark"] .like-button:hover {
    background-color: var(--button-bg-dark);
    color: white;
}

.x-button {
    background-color: white; 
    border: none; 
    color: #65676b;
    margin: 3px;
    padding: 3px;
    font-size: 1.2em; 
    border-radius: 10%; 
}

body[data-theme="dark"] .x-button {
    background-color: transparent; /* Dark mode background color */
    border: var(--input-border-dark);
}

.x-button:hover {
    background-color: #f5f2f0; /* Slight highlight on hover */
    cursor: pointer;
}

body[data-theme="dark"] .x-button:hover {
    background-color: #3a3b3d; /* Slight highlight on hover */
    color: white; /* Change text color on hover */
}

.Edit {
    background-color: transparent;
    border: none; 
    color: #65676b;
    padding: 3px;
    font-size: 1.2em; 
    border-radius: 10%;
}

body[data-theme="dark"] .Edit {
    background-color: transparent;
    color: var(--text-color-dark); /* Dark mode text color */
    border: var(--input-border-dark);
}

.Edit:hover {
    background-color: #f0f2f5; /* Slight highlight on hover */
    cursor: pointer;
}

body[data-theme="dark"] .Edit:hover {
    background-color: #3a3b3d; /* Slight highlight on hover */
    color: white; /* Change text color on hover */
}

