#share{
    background-color: var(--button-bg-light);
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: gray;
    margin: 5px;
    display: inline-block; /* Display the buttons inline */
    width: 190px;
}
body[data-theme="dark"] #share {
    background-color: var(--bg-color-dark); /* Dark mode background */
    color: var(--button-text-dark); /* Dark mode text color */
}
#share:hover {
    background-color: var(--button-bg-light);
    color: black;
}
body[data-theme="dark"] #share:hover {
    background-color: var(--button-bg-dark);
    color: white;
}