#share{
    background-color: #f0f2f5;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    color: gray;
    margin: 5px;
    display: inline-block; /* Display the buttons inline */
    width: 190px;
}
#share:hover {
    background-color: var(--bs-primary);
    color: black;
}