/* Navbar Styles */
.navbar { 
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0;
  height: 60px;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  z-index: 1000;
  margin: 0;
}

/* Dark Theme Navbar */
body[data-theme="dark"] .navbar {
  background-color: var(--bg-color-dark);
  border-bottom: 2px solid var(--bg-color-soft-dark);
}

/* Navbar Sections */
.navbar-left, .navbar-center, .navbar-right {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-left {
  justify-content: flex-start;
  flex-grow: 1;
}

.navbar-center {
  flex-grow: 2;
}

.navbar-right {
  justify-content: flex-end;
  flex-grow: 1;
}

/* Logo Icon */
.logo-icon {
  margin-left: 5px;
  font-size: 40px;
  color: var(--bs-primary);
}

/* Dark Theme Search Form */
[data-theme="dark"] .search-form {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

/* Theme Toggle Button */
.toggle-theme-btn {
  background-color: var(--button-bg-light);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  margin-left: 10px;
  width: fit-content;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  outline: none; 
}

/* Dark Theme Toggle Button */
[data-theme="dark"] .toggle-theme-btn {
  border: 1px solid var(--input-border-light);
  background-color: var(--button-bg-dark);
  color: var(--button-text-dark);
}

.toggle-theme-btn:hover {
  background-color: lightgray;
}

/* Dark Theme Toggle Button Hover */
[data-theme="dark"] .toggle-theme-btn:hover {
  background-color: var(--bg-color-dark);
  color: var(--button-text-dark);
}

.search-input {
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  width: 180px;
  border-radius: 20px;
  color: gray;
}

[data-theme="dark"] .search-input {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
  border: 1px solid var(--input-border-dark);
}

/* Dark Theme Search Input Placeholder */
[data-theme="dark"] .search-input::placeholder {
  color: var(--text-color-dark);
}


.logo-icon {
  margin-right: 2px;
  font-size: 40px;
  color: var(--bs-primary);
}
