.friends-list {
  position: fixed;
  top: 60px; /* Adjust as needed */
  right: 0; /* Align to the right side */
  width: 300px; /* Adjust width as needed */
  padding: 10px;
  box-sizing: border-box;
  background-color: var(--bg-color-light);
  color: var(--text-color-light);
  overflow-y: auto; /* Allows scrolling within the container */
  max-height: calc(100vh - 60px); /* Adjust height to fit the viewport */
  z-index: 100; /* Ensure it's above other content */
}

/* Dark Mode styles for Friends List */
body[data-theme="dark"] .friends-list {
  background-color: var(--bg-color-dark);
  color: var(--text-color-dark);
}

/* Dark Mode styles for Friends List */
body[data-theme="dark"] .friends-list {
  background-color: var(--bg-color-dark); /* Dark mode background color */
  color: var(--text-color-dark); /* Dark mode text color */
}

.friend-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.friend-image {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Makes the image circular */
  margin-right: 10px;
}

.friend-name {
  margin: 0;
}

.friend-item:hover {
  cursor: pointer;
  background-color: var(--button-bg-light); /* Light mode hover background */
  border-radius: 3%;
}

/* Dark mode hover effect for friend item */
body[data-theme="dark"] .friend-item:hover {
  background-color: var(--button-bg-dark); /* Dark mode hover background */
}
