.profile {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: auto;
  /* Adjust height to auto to accommodate content */
}

.cover-photo {
  border-radius: 5px;
  width: 100%;
  height: 200px;
  /* Height of the cover photo */
  background-size: cover;
  background-position: center;
  position: relative;
  z-index: 1;
  /* Ensures cover photo is behind profile photo */
}

.profile-photo {
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  position: absolute;
  top: 150px;
  left: 20px;
  border: 3px solid white;
  z-index: 2;
}

.user-nickname {
  margin-left: 120px;
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
}

#Follow-btn {
  min-width: auto;
  width: 150px;
  margin-top: 10px;
  margin: 5px;
}


.user-name {
  display: flex;
  align-items: center;
}

body {
  margin: 0;
  background: #666;
}

a {
  text-decoration: none;
}

body[data-theme="dark"] .offcanvas {
  background-color: var(--bg-color-soft-dark); /* Dark mode background color */
    color: var(--text-color-dark); /* Dark mode text color */
}

