body {
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0;
  background-color: #f0f2f5; /* Facebook's background color */
}

.signin-container {
  margin-top: 100px; /* Increased top margin */
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  text-align: center;
  width: 400px; /* Fixed width for the form */
  padding: 20px;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 8px;
}


.signin-header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #1877f2; /* Facebook's blue color */
}

.signin-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
  color: #65676b; /* Facebook's text color */
}

input[type="text"],
input[type="password"],
input[type="file"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

input[type="file"] {
  border: none;
}

button {
  background-color: #1877f2;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  margin-top: 15px;
}

button:hover {
  background-color: #1558d6;
}

img {
  margin-top: 10px;
  border-radius: 50%; /* Circular image */
  max-width: 50%;
  height: auto;
}
